@media (-webkit-min-device-pixel-ratio: 1.25) {
    .anamenu img {
        width: 100%;
    }
    
    .hizmet-butun {
       margin-left: 15%; 
    }
    
    .urunler-butun {   
        margin-left: 17%;
    }
    
    .referans-resimler {
    margin-left: 20%;
    margin-right: 0;  
    }
    
    .iletisim-bilgi {
    margin-left: 30%;
    }
}