/* * {
	font-family:'Segoe UI',Arial,sans-serif;
} */

body {

	background: #000000 url(bg.jpg) fixed;
    background-position:top center;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
    height:100%;
}

#logo {
	margin:0 auto;
	margin-top:50px;
	background:no-repeat;
	display:block;
	width:633px;
	height:147px;
}

body a {
	display: inline-block;
}

#disco {
	margin-left:455px;
	color:white;
	padding:5px;
}

#img01 {
    float:right;
}  

#img02 {
    float:left;
}  

#img03 {
    float:right;
}  

#img04 {
    float:left;
}  
  #img05 {
    float:right;
}  
  #img06 {
    float:left;
}  
  #img07 {
    float:right;
}

#img08 {
    float:left;
}  

#img09 {
    float:right;
}  

#img10 {
    float:left;
}  

#img11 {
    float:right;
}  
  #img12 {
    float:left;
}  
  #img13 {
    float:right;
}  
  #img14 {
    float:left
}

  #img15 {
    float:right;
}



.row.content {
	height:1000px;
}

footer {
	background-color:black;
	color:white;
	padding:5px;
}

footer .footer {
	float:right;
}

footer a {
	display: inline-block;
	margin-right:200px;
}

.row.content {
	height:auto;
}