/* blue: #0984e3 */

/* -------------------------------------------- */
/* SETUP */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #000000;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/* -------------------------------------------- */
/* DARK MODE */
/* -------------------------------------------- */

button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 5%;
    left: 7%;
}

button ion-icon {
    font-size: 30px;
    margin: 0;
    padding: 4px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: color 0.2s, border 0.2s;
    transition: color 0.2s, border 0.2s;
}

button:link,
button:visited {
    border: none;
}

button ion-icon:hover,
button ion-icon:active {
    color: #c1c1c1;
    border: 2px solid #c1c1c1;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode section {
    border-top: 1px solid black;
}

.dark-mode h6 {
    color: black;
}

.dark-mode .progress-bar {
    background-color: white;
}

.dark-mode .deneyimler {
    background-color: #121212;
}

.dark-mode .sertifikalar {
    background-color: #121212;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.main-nav {
    list-style: none;
    float: right;
    margin: 50px 50px 0 0;
}

.main-nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid rgba(9, 132, 227, 0);;
    -webkit-transition: border-bottom 0.2s;;
    transition: border-bottom 0.2s;
}

.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid #0984e3;
}

.mobile-nav-icon {
    display: none;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
}

img {  
    margin: 10px 25px;
    height: 250px;
    width: auto;
    border-radius: 100%;
    float: left;
}

.metin {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.44);
    text-align: justify;
    padding: 0 25px 10px 0;
}

.metin h1 {
    margin: 10px 0;
}

.iletisim-header {
    display: inline-block;
    list-style: none;
    position: absolute;
    top: 75%;
    left: 32%
}

.iletisim ion-icon {
    vertical-align: middle;
    font-size: 25px
}

/* -------------------------------------------- */
/* GENEL */
/* -------------------------------------------- */

.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    text-transform: uppercase;
}

h2:after,
.line:after {
    display: block;
    height: 2px;
    background-color: #0984e3;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

ion-icon {
    font-size: 35px;
    margin-right: 15px;
}

.line:after { margin-left: 48%; }

.top-button {
    color: #0984e3;
    float: right;
    padding-top: 30px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.top-button:hover {
    color: #006cbf;
}

/* -------------------------------------------- */
/* YETKİNLİKLER */
/* -------------------------------------------- */

.box {
    display: inline-block;
    margin: 50px;
}

.box:nth-child(3),
.box:nth-child(5) {
    margin-left: 150px;
}

.box h3 {
    padding-bottom: 10px;
}

.box h6 {
    float: right;
    margin: 5px;
}

/* -------- PROGRESS BARS -------- */


.progress-bar {
    background-color: #c4c4c4;
    border-radius: 13px;
    padding: 4px;
    width: 600px;
}

.pg-1 div,
.pg-2 div,
.pg-3 div,
.pg-4 div,
.pg-5 div {
    background-color: #0984e3;
    height: 20px;
    border-radius: 10px;
} 

.pg-1 div { width: 75%; }
.pg-2 div { width: 35%; }
.pg-3 div { width: 30%; }
.pg-4 div { width: 15%; }
.pg-5 div { width: 90%; }

/* -------------------------------------------- */
/* DENEYİMLER ve EĞİTİM */
/* -------------------------------------------- */

.deneyimler {
    background: #f8f8f8;
}

.deneyimler .section-title {
    padding-top: 15px
}

.deneyim-bilgi,
.egitim-bilgi {
    display: inline-block;
    margin: 5%
}

.deneyim-bilgi:last-child,
.egitim-bilgi:nth-child(3) {
    float: right;
}

.egitim-bilgi:nth-child(3) {
    margin-right: 12%;
}

.deneyim-bilgi ul,
.egitim-bilgi ul {
    list-style: none;
}

.sosyal-sorumluluk {
    margin: 5%;
}

.deneyim h3,
.egitim h3 {
    margin-bottom: 5px;
}

/* -------------------------------------------- */
/* SERTİFİKALAR */
/* -------------------------------------------- */

.sertifikalar {
    background: #f8f8f8;
}

.sertifikalar .section-title {
    padding-top: 15px
}

.sertifika-bilgi {
    display: block;
    margin: 3% 3% 3% 5%;;
}

.sertifika-bilgi:last-child {
    margin-bottom: 50px;
}

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */

footer {
    background-color: #333;
    padding: 30px 40px;
    font-size: 80%;
}

.buton:link,
.buton:visited {
    text-decoration: none;
    color: #333;
    border: 2px solid #afafaf;
    background-color: #afafaf;
    border-radius: 200px;
    padding: 10px 30px;
    font-weight: 400;
    float: right;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.buton:active,
.buton:hover {
    background-color: #0984e3;
    border: 2px solid #0984e3;
    color: aliceblue;
}

.iletisim-footer {
    color: #afafaf;
    display: inline-block;
    list-style: none;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin: 10px 20px 0 0;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    color: #afafaf;
}

.twitter,
.linkedin,
.github {
    font-size: 30px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.twitter:hover { color: #00aced; }
.linkedin:hover { color: #007bb5; }
.github:hover { color: #000000; }